table {
   border: 5px solid #000;
   background-color: #7BD5F5;
   color: #fff;
   margin-left: auto;
   margin-right: auto;
   box-shadow: 30px 20px 5px  rgba(0, 0, 0, 0.808);
   width: 100%;
}

th {
   background-color: #000;
   color: rgb(206, 44, 44);
   text-transform: uppercase;
}


th,
td {
   border: 2px solid #000;
   text-align: center;
}

table .Par{
   background-color: #ddd;
}

table .Impar{
   background-color: rgb(102, 10, 10);
}